<!DOCTYPE html>
<html>
<body>

<img src= "truli_logo.png" width="180" height="90">

<style>
body {
  background-image: url('background_urban.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<div style= "margin-top: 150px"></div>



<style>
	.info{
		background-color: #c82ccc;
		color: white;
		border: none;
		margin: 20px;
		padding: 20px;
		width: 320px;
	}
</style>

<div class="info">
<h2 style="font-family: verdana">Your Name:</h2>
	<input type="text" id="fname" name="fname" style="font-size:25px;"  value="">
<br>
<h2 style="font-family: verdana">Valid Email:</h2>	
	<input type="text" id="lname" name="lname" style="font-size:25px;"value="">
<br><br>
<input type="submit" value="subscribe">
</form>

</div>>


<!--
<form action="/action_page.php">
  <label for="fname"><p style= "color: white">Name:</label><br>
  <input type="text" id="fname" name="fname" style="font-size:25px;" value=""><br>
  <label for="lname"><p style= "color: white">Valid Email:</label><br>
  <input type="text" id="lname" name="lname" style="font-size:25px;"value=""><br><br>
  <input type="submit" value="Submit">
</form> 


<div style="width:500px;height:400px;border:0px solid #000;background-color: #c82ccc"></div
-->

</body>
</html>