<!DOCTYPE html>
<html>
<head>
<title>Truli News</title>
<style type="text/css">

body{
  font-family: sans-serif;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container{
  max-width: 700px;
  margin:auto;

  display: flex;
  align-items: center;
  justify-content: center;

}




</style>
</head>
</body>
<section>
  <div class="card w-75">
    <img src="static/images/background_urban.jpg" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card w-75">
    <img src="static/images/background_urban.jpg" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
<section>

</body>
</html>