<!DOCTYPE html>
<html>
<head>
<title>Truli News</title>
<style type="text/css">

body{
  font-family: sans-serif;
  background-color: #ffffff;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.container{
  max-width: 700px;
  margin:auto;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#br_main {
  border-radius: 20px;
}

#br_small{
  padding-left: 10px;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

#left_{
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 15px;
}

#pad_{
  padding-top: :: 20px;
  padding-bottom:: 20px;
}

#rb-menu-com li .submenu div p {
    color:#fff;
    margin: 0;
    padding:0;
    width:100%;
    position: relative;
}

#p_tag{
  padding-right: 300px;
  padding-left: 300px;

}

p { word-break: break-all;
white-space: normal; }

</style>

</head>
</body style="background-color:#ffffff;">


<img src= "static/images/TruliLogoclipped1.png" class="card-img-top" alt="..." width="180" height="75">

<section>
<h1 style="font-family: HP Simplified Light" class="card-title">Top Stories Relating To: {{kwds}}</h1>
<section>

<section>
  <div class="card w-75">
    <img src= {{show_images[0]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[0]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["0"]}} - {{send_dict["title"]["0"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["0"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>


<section>
  <div class="card w-75">
    <img src= {{show_images[1]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[1]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["1"]}} - {{send_dict["title"]["1"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["1"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[2]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[2]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["2"]}} - {{send_dict["title"]["2"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["2"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[3]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[3]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["3"]}} - {{send_dict["title"]["3"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["3"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[4]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[4]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["4"]}} - {{send_dict["title"]["4"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["4"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[5]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[5]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["5"]}} - {{send_dict["title"]["5"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["5"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[6]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[6]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["6"]}} - {{send_dict["title"]["6"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["6"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>


<section>
  <div class="card w-75">
    <img src= {{show_images[7]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[7]}} id="br_small" class="thumbnail" alt="..." width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["7"]}} - {{send_dict["title"]["7"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["7"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{show_images[8]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{media_bias_path[8]}} id="br_small" class="thumbnail" alt="" width="120" height="80">
      
      <h2 wrap="hard" style="font-family: HP Simplified Light" class="card-title">{{send_dict["name"]["8"]}} - {{send_dict["title"]["8"]}}</h2>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict["url"]["8"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

</body>
</html>