<!DOCTYPE html>
<html>
<head>
<title>Truli News</title>
<style type="text/css">

body{
  font-family: sans-serif;
  background-color: #ffffff;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.container{
  max-width: 700px;
  margin:auto;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#br_main {
  border-radius: 20px;
}

#br_small{
  padding-left: 10px;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

#left_{
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 15px;
}

#pad_{
  padding-top: :: 20px;
  padding-bottom:: 20px;
}

</style>

</head>
</body style="background-color:#ffffff;">


<img src= "static/images/TruliLogoclipped1.png" class="card-img-top" alt="..." width="180" height="75">

<section>
<h1 style="font-family: HP Simplified Light" class="card-title">Top Stories Relating To {{send_dict[0]["kws"]}}</h1>
<section>

<section>
  <div class="card w-75">
    <img src= {{send_dict[1]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[1]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[1]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[1]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[1]["source"]}} - {{send_dict[1]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[1]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[1]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>


<section>
  <div class="card w-75">
    <img src= {{send_dict[2]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[2]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[2]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[2]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[2]["source"]}} - {{send_dict[2]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[2]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[2]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>


<section>
  <div class="card w-75">
    <img src= {{send_dict[3]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[3]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[3]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[3]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[3]["source"]}} - {{send_dict[3]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[3]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[3]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[4]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[4]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[4]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[4]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[4]["source"]}} - {{send_dict[4]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[4]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[4]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[5]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[5]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[5]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[5]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[5]["source"]}} - {{send_dict[5]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[5]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[5]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[6]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[6]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[6]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[6]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[6]["source"]}} - {{send_dict[6]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[6]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[6]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[7]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[7]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[7]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[7]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[7]["source"]}} - {{send_dict[7]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[7]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[7]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[8]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[8]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[8]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[8]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[8]["source"]}} - {{send_dict[8]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[8]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[8]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>
<div> 
  <p id="pad_" class="card-text"></p>
</div>

<section>
  <div class="card w-75">
    <img src= {{send_dict[9]["main_image"]}} id="br_main" class="card-img-top" alt="..." width="750" height="200">
    <div class="card-body">
      <img src={{send_dict[9]["mediabias"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[9]["similarity"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      <img src={{send_dict[9]["sentiment"]}} id="br_small" class="thumbnail" alt="..." width="80" height="50">
      
      <h2 style="font-family: HP Simplified Light" class="card-title">{{send_dict[9]["source"]}} - {{send_dict[9]["title"]}}</h2>
      <p style="font-family: HP Simplified Light" class="card-text">{{send_dict[9]["abstract"]}}</p>
    </div>
    <div class="card-body">
      <a style="font-family: HP Simplified Light" href={{send_dict[9]["link"]}} class="card-link">Learn more here</a>
    </div>
  </div>
<section class="pad_">

</body>
</html>